<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application_admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application_admin", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <%= render "admin/layouts/header" %>
          <%= render "admin/layouts/sidebar" %>
      </nav>

      <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <% flash.each do |message_type, message| %>
                      <div class="alert alert-<%= message_type %>"><%= message %></div>
                    <% end %>
                  <%= yield %>
                </div>
            </div>
            <%= render "admin/layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
